
@tailwind base;
@tailwind components;
@tailwind utilities;



@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar{
  display:none;
}

.scrollbar-hide{
  -ms-overflow-style:none;
  scrollbar-width:none;
}