/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: set default font */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafb; /* light gray background */
}
